<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Проект</h1>
    <h1 th:text="${project.title}">Название</h1>
    <p th:text="${project.createdAt}">дата создания</p>
    <p th:text="${project.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum modi natus, neque qui quos reiciendis repellat similique sint tenetur!</p>

    <div><a th:href="@{|/project/edit/${project.id}|}">Редактировать</a></div>
    <div><a th:href="@{|/project/delete/${project.id}|}">Удали это поскорее</a></div>

</body>
</html>