<!-- Футер -->
<footer class="py-4 bg-dark text-white" th:fragment="~{fragments/footer :: footer}">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5>Павел Мировщиков</h5>
                <p>Разработчик, студент и блогер. Создаю современные проекты и рассказываю об этом.</p>
            </div>
            <div class="col-lg-4 mb-4 mb-lg-0">
                <h5>Быстрые ссылки</h5>
                <ul class="list-unstyled">
                    <li><a href="#home" class="text-white">Главная</a></li>
                    <li><a href="/portfolio/allprojects.html" class="text-white">Портфолио</a></li>
                    <li><a href="/portfolio/allitems.html" class="text-white">Блог</a></li>
                    <li><a href="#contact" class="text-white">Контакты</a></li>
                    <li><a href="login.html" class="text-white">Вход</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li><i class="fas fa-envelope"></i> mpas@mail.ru</li>
                    <li><i class="fas fa-phone"></i> +7 (913) 890-5816</li>
                    <li><i class="fas fa-map-marker-alt"></i> Новосибирск, Россия</li>
                </ul>
                <div class="social-links mt-3">
                    <a href="#" class="text-white me-2"><i class="fab fa-github fs-5"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-linkedin fs-5"></i></a>
                    <a href="#" class="text-white me-2"><i class="fab fa-telegram fs-5"></i></a>
                    <a href="#" class="text-white"><i class="fab fa-vk fs-5"></i></a>
                </div>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-0">&copy; 2025 Павел Мировщиков. Все права защищены.</p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <a href="admin/login.html" class="text-white text-decoration-none">Панель администратора</a>
            </div>
        </div>
    </div>
</footer>