
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Мой дневник</title>
</head>
<body>

<div layout:fragment="content" class="container mt-5">
    <!-- Заголовок страницы -->
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="text-primary text-center mb-4 pt-4">Мой дневник</h1>

            <!-- Список записей -->
            <div th:each="diary : ${allitems}" class="mb-4 p-3 border rounded shadow-sm text-center" >
                <h2 class="text-center h5">
                    <a th:href="@{|/diary/${diary.id}|}"
                       th:text="${diary.title}"
                       class="text-primary text-decoration-none text-dark">
                        Проект 1
                    </a>
                </h2>
                <p class="card-text text-muted" th:text="${#temporals.format(diary.createdAt, 'dd.MM.yyyy HH:mm')}">Дата создания</p>

                <p class="text-center" th:text="${diary.content}">Описание заметки</p>
                <p class="text-sm-center">Создатель заметки: <span th:text="${diary.user.getUsername()}"></span></p>
            </div>

            <!-- Кнопка "Добавить запись" под списком записей -->

            <div class="d-flex justify-content-center mt-4 mb-4" sec:authorize="hasAuthority('ADMIN')">
                <a th:href="@{/diary/new}" class="btn btn-success">Добавить новую заметку</a>
            </div>
        </div>
    </div>
</div>




<!--<div layout:fragment="content" class="container mt-5">-->
<!--    <div class="row justify-content-center">-->
<!--        <div class="col-md-8">-->
<!--            <h1 class="text-primary text-center mb-4 pt-4" >Мой дневник</h1>-->

<!--            <div th:each="diary : ${allitems}" class="mb-4 p-3 border rounded shadow-sm">-->
<!--                <h2 class="text-center">-->
<!--                    <a th:href="@{|/diary/${diary.id}|}" th:text="${diary.title}" class=" text-primary text-decoration-none text-dark">Проект 1</a>-->
<!--                </h2>-->
<!--                <p class="text-center" th:text="${diary.content}">Описание проекта</p>-->
<!--            </div>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->

</body>
</html>