<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Запись в блоге</title>
</head>
<body>
<div layout:fragment="content">
    <h1>Запись в блоге</h1>
    <h1 th:text="${diaryEntry.title}">Название</h1>
    <p th:text="${diaryEntry.createdAt}">дата создания</p>
    <p th:text="${diaryEntry.content}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem cum modi natus, neque qui quos reiciendis repellat similique sint tenetur!</p>

    <div><a th:href="@{|/diary/edit/${diaryEntry.id}|}">Редактировать</a></div>
    <div><a th:href="@{|/diary/delete/${diaryEntry.id}|}">Удали это поскорее</a></div>
</div>
</body>
</html>