<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Новая заметка</title>
</head>
<body>
<div layout:fragment="content" class="container pt-5 mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <!-- Оформление в виде карточки -->
      <div class="card shadow">
        <div class="card-header bg-primary text-white">
          <h2 class="mb-0">Создайте новую заметку:</h2>
        </div>
        <div class="card-body">
          <form th:action="@{/diary/new}" th:object="${diaryEntry}" method="post">

            <!-- Заголовок записи -->
            <div class="form-group mb-3">
              <label for="title" class="mb-2 fw-bold">Заголовок заметки:</label>
              <input type="text" id="title" th:field="*{title}" class="form-control" placeholder="Введите заголовок заметки" required>
            </div>

            <!-- Содержимое записи -->
            <div class="form-group mb-4">
              <label for="content" class="mb-2 fw-bold">Заметка:</label>
              <textarea id="content" th:field="*{content}" rows="8" class="form-control" placeholder="Напишите заметку" required></textarea>
            </div>

            <!-- Поле для загрузки картинки -->
          <!--
            <div class="form-group mb-4">
              <label for="image" class="mb-2 fw-bold">Выберите изображение:</label>
              -->
              <!-- Используем input type="file" -->
            <!--
              <input type="file" id="image" name="image" class="form-control">
            </div>
            -->
            <!--
            <div class="form-group form-check mb-3">
                <input type="checkbox" id="isPublic" th:field="*{isPublic}" class="form-check-input">
                <label for="isPublic" class="form-check-label">Public</label>
            </div>
            -->

            <!-- Чек-бокс для флага isPublic -->
            <div class="form-group form-check mb-3">
             <input type="checkbox" id="isPublic" th:field="*{public}" class="form-check-input">
              <label for="isPublic" class="form-check-label">Доступна для всех</label>
              <small class="form-text text-muted">Если галочка не установлена, заметка будет доступна только для администраторов.</small>
            </div>

            <!-- Кнопка создания -->
            <div class="text-center">
              <button type="submit" class="btn btn-success">Создать заметку</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>