<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">


<title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Портфолио Разработчика | Главная</title>


</head>
<body>
<!--/* Standard layout can be mixed with Layout Dialect */-->

<header th:replace="~{fragments/header :: header}">
    header from layout
</header>


<footer th:insert="~{fragments/footer :: footer}">&copy; 2025 Павел Мировщиков. Все права защищены.</footer>



</body>
</html>